USE [SuperMarketSales]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 05/01/2018 20:09:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[CODE] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
	[LOCATION] [varchar](100) NULL,
	[CONTRACTS] [varchar](50) NULL,
	[PHONE] [varchar](15) NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SUPPLIER] ([CODE], [NAME], [LOCATION], [CONTRACTS], [PHONE]) VALUES (900, N'宝洁', N'广州市经济技术开发区滨河路1号', N'马睿思', N'020-85182310')
INSERT [dbo].[SUPPLIER] ([CODE], [NAME], [LOCATION], [CONTRACTS], [PHONE]) VALUES (901, N'农夫山泉', N'杭州市西湖区葛衙庄181号', N'有点甜', N'0571-87631800')
INSERT [dbo].[SUPPLIER] ([CODE], [NAME], [LOCATION], [CONTRACTS], [PHONE]) VALUES (902, N'得力', N'浙江省宁海县徐霞客大道302号', N'娄甫君', N'400-185-0555')
