USE [SuperMarketSales]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 11/02/2018 21:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[PHONE] [varchar](15) NULL,
	[TYPE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'''收银员''或''库管员''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EMPLOYEE', @level2type=N'COLUMN',@level2name=N'TYPE'
GO
INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [PASSWORD], [PHONE], [TYPE]) VALUES (1001, N'老赵', N'123', N'13333333333', N'收银员')
INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [PASSWORD], [PHONE], [TYPE]) VALUES (1002, N'老钱', N'123', N'13444444444', N'收银员')
INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [PASSWORD], [PHONE], [TYPE]) VALUES (1003, N'老孙', N'123', N'13555555555', N'收银员')
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 11/02/2018 21:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[CODE] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
	[LOCATION] [varchar](100) NULL,
	[CONTRACTS] [varchar](50) NULL,
	[PHONE] [varchar](15) NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SUPPLIER] ([CODE], [NAME], [LOCATION], [CONTRACTS], [PHONE]) VALUES (900, N'宝洁', N'广州市经济技术开发区滨河路1号', N'马睿思', N'020-85182310')
INSERT [dbo].[SUPPLIER] ([CODE], [NAME], [LOCATION], [CONTRACTS], [PHONE]) VALUES (901, N'农夫山泉', N'杭州市西湖区葛衙庄181号', N'有点甜', N'0571-87631800')
INSERT [dbo].[SUPPLIER] ([CODE], [NAME], [LOCATION], [CONTRACTS], [PHONE]) VALUES (902, N'得力', N'浙江省宁海县徐霞客大道302号', N'娄甫君', N'400-185-0555')
/****** Object:  Table [dbo].[GOODS2]    Script Date: 11/02/2018 21:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOODS2](
	[ID] [varchar](50) NOT NULL,
	[NAME] [varchar](20) NULL,
	[PRICE] [float] NULL,
	[SPEC] [varchar](20) NULL,
	[REMARK] [varchar](100) NULL,
 CONSTRAINT [PK_GOODSINFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GOODS2] ([ID], [NAME], [PRICE], [SPEC], [REMARK]) VALUES (N'6921168509256', N'农夫山泉', 1.5, N'小瓶', N'有点甜')
INSERT [dbo].[GOODS2] ([ID], [NAME], [PRICE], [SPEC], [REMARK]) VALUES (N'6930044182803', N'香瓜子', 10, N'500g', N'')
INSERT [dbo].[GOODS2] ([ID], [NAME], [PRICE], [SPEC], [REMARK]) VALUES (N'9787302428220', N'C#程序设计项目化教程', 29.5, N'实践型教程', NULL)
/****** Object:  Table [dbo].[GOODS]    Script Date: 11/02/2018 21:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOODS](
	[ID] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NULL,
	[PRICE] [float] NULL,
	[SUPPLIER] [int] NULL,
	[SPEC] [varchar](20) NULL,
	[REMARK] [varchar](100) NULL,
 CONSTRAINT [PK_GOODS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GOODS] ([ID], [NAME], [PRICE], [SUPPLIER], [SPEC], [REMARK]) VALUES (N'123456789', N'圆珠笔', 2, 902, N'0.5', N'')
INSERT [dbo].[GOODS] ([ID], [NAME], [PRICE], [SUPPLIER], [SPEC], [REMARK]) VALUES (N'300001', N'海飞丝', 25, 900, N'中瓶', N'')
INSERT [dbo].[GOODS] ([ID], [NAME], [PRICE], [SUPPLIER], [SPEC], [REMARK]) VALUES (N'300002', N'潘婷', 22, 900, N'中瓶', N'')
/****** Object:  Default [DF_USER_TYPE]    Script Date: 11/02/2018 21:02:24 ******/
ALTER TABLE [dbo].[EMPLOYEE] ADD  CONSTRAINT [DF_USER_TYPE]  DEFAULT ('收银员') FOR [TYPE]
GO
/****** Object:  ForeignKey [FK_GOODS_SUPPLIER]    Script Date: 11/02/2018 21:02:24 ******/
ALTER TABLE [dbo].[GOODS]  WITH CHECK ADD  CONSTRAINT [FK_GOODS_SUPPLIER] FOREIGN KEY([SUPPLIER])
REFERENCES [dbo].[SUPPLIER] ([CODE])
GO
ALTER TABLE [dbo].[GOODS] CHECK CONSTRAINT [FK_GOODS_SUPPLIER]
GO
